/* authRegister.css */
.auth-register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.auth-register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-register-container form {
  display: flex;
  flex-direction: column;
}

.auth-register-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.auth-register-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.auth-register-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
