.note-list-container {
  margin-top: 20px;
}

.note-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.note-item {
  margin-right: 20px;
  margin-bottom: 20px;
  flex: 0 0 auto;
}

.note-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.note-content {
  font-size: 14px;
  color: #777;
}

