.note-list-container {
  margin-top: 20px;
}

.note-list {
  list-style-type: none;
  padding: 0;
}

.note-item {
  margin-bottom: 20px;
}

.note-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.note-content {
  font-size: 14px;
  color: #777;
}
